html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	text-align: justify;
	text-justify : inter-word;
	background-color: #E0FFFF;
}

.colonne
{
	width:50%;
	margin : 0 auto;
	}

	.titre
	{
	font-size: 70pt;
	text-align: center;
	color:#FF0000;
	}